In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [2]:
taxi_df = pd.read_csv('green_tripdata_oct_2019.csv')

/tmp/ipykernel_218852/2253752927.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  taxi_df = pd.read_csv('green_tripdata_oct_2019.csv')

In [3]:
taxi_df.shape

(476386, 20)

In [4]:
print(pd.io.sql.get_schema(taxi_df,name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [5]:
taxi_df.lpep_pickup_datetime  = pd.to_datetime(taxi_df.lpep_pickup_datetime)
taxi_df.lpep_dropoff_datetime = pd.to_datetime(taxi_df.lpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine=create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(taxi_df,name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
taxi_df.to_sql('green_taxi_data',con=engine,if_exists='replace')

386